## 1. Print 1 to 10 using for loop

In [3]:
# x = 0
# for x in range(1,11):
#     print(x)

1
2
3
4
5
6
7
8
9
10

## 2. Print 1 to 10 using while loop

In [4]:
# i = 1
# while i<=10:
#     print(i)
#     i += 1

1
2
3
4
5
6
7
8
9
10

## 3.Print 10 to 1 using FOR loop

In [6]:
# for i in range(10,0,-1):
#     print(i)

10
9
8
7
6
5
4
3
2
1

## 2. Print 10 to 1 using WHILE loop

In [2]:
# num = 10
# while num>=1:
#     print(num)
#     num-=1

10
9
8
7
6
5
4
3
2
1

## 3. Print the sum of all numbers from 1 to 5 using FOR LOOP

In [18]:
# num = 0
# for i in range(1,6):
#     num += i
# print("the sum is :",num)

the sum is : 15

## 4. Print the sum of all numbers from 1 to 5 using WHILE LOOP

In [9]:
# x = 0
# y = 1
# while y<6:
#     x += y
#     y += 1
# print(f"the sum of number is : {x}")

the sum of number is : 15

## 5.Print the product of all numbers from 1 to 5 using FOR LOOP

In [6]:
# product = 1
# for i in range(1,6):
#     product *= i
# print(f"the product of number is : {product} ")

the product of number is : 120

## 6.Print the product of all numbers from 1 to 5 using WHILE LOOP

In [3]:
# product = 1
# num = 1

# while num <= 5:
#     product *= num
#     num += 1

# print(f"The product of numbers from 1 to 5 is: {product}")

The product of numbers from 1 to 5 is: 120

## 7.Print all the even numbers between 1 to 10 using FOR LOOP

In [11]:
# for i in range(2,11,2):
#     print(i)

2
4
6
8
10

## 8.Print all the even numbers between 1 to 10 using WHILE LOOP

In [2]:
# num = 2
# while num<11:
#     print(num)
#     num +=2

2
4
6
8
10

## 9.Count all the even numbers between 21 to 7 using FOR LOOP

In [16]:
# count = 0
# for num in range(21, 7 - 1, -1):
#     if num % 2 == 0:
#         count += 1

# print("Number of even numbers in the range:", count)

Number of even numbers in the range: 7

## 10.Count all the even numbers between 21 to 7 using WHILE LOOP

In [4]:
# count = 0
# num = 21
# while num >= 7:
#     if num % 2 == 0:
#         count += 1
#     num -= 1

# print("Number of even numbers in the range:", count)

Number of even numbers in the range: 7

## 11.Write the programs in python to display the first ten terms of the following series:
######  (a) 1, 4, 9, 16,
######   (b) 1, 2, 4, 7, 11,
######   (c) 3, 6, 9, 12,
######   (d) 4, 8, 16, 32, 
######   (e) 1.5, 3.0, 4.5, 6.0,
######   (f) 0, 7, 26,
######   (g) 1, 9, 25, 49,
######   (h) 4, 16, 36, 64,
######   (i) 0, 3, 8, 15,
######   (j) 24, 99, 224, 399,
######   (k) 2, 5, 10, 17,

In [6]:
# # (A) 1,4,9,16 using FOR LOOP
# for i in range(1,11):
#     print(i*i)

1
4
9
16
25
36
49
64
81
100

In [22]:
# # (B) 1, 2, 4, 7, 11
# term = 1
# difference = 1
# for _ in range(10):
#     print(term,)
#     term += difference
#     difference += 1

1
2
4
7
11
16
22
29
37
46

In [21]:
# # # (C) 3, 6, 9, 12,
# term = 3
# difference = 3
# for _ in range(10):
#     print(term)
#     term+=difference

3
6
9
12
15
18
21
24
27
30

In [25]:
# # (d) 4, 8, 16, 32,\
# term = 4
# difference = 4
# for _ in range(10):
#     print(term)
#     term*=2

4
8
16
32
64
128
256
512
1024
2048

In [29]:
# # (e) 1.5, 3.0, 4.5, 6.0,
# term = 1.5
# diff = 1.5
# for _ in range(10):
#     print(term)
#     term+=diff

1.5
3.0
4.5
6.0
7.5
9.0
10.5
12.0
13.5
15.0

In [31]:
# (f) 0, 7, 26

In [32]:
# #(G)1, 9, 25, 49
# odd_num = 1
# num  = 1
# while num<